
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400');
@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
  
}
html {
    scroll-behavior: smooth;
    
    overflow-x: hidden;
   
  }
  

body {
    /* font-family: 'Lato', sans-serif; */
    font-family: 'Poppins', sans-serif;
    /* background:url(../Images/bkgokuuuu.jpg) center 10px; */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    
    /* background-attachment: fixed; */
    
    
    overflow-x: hidden;
   
   
    
}

/****************** HEADER ******************/

 

.Hcontainer{
    overflow-x: visible;
   
    z-index: 1;
    background-color: rgb(10, 2, 17);
    display: flex;
    justify-content: space-between; /*aligning x axis horizontal */
    align-items: center; /*align y axis vertical */
    padding: 5px;
    flex-wrap: wrap;    
    /* opacity: 0.1; */
    overflow: hidden;
    position: sticky; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the topof the page */
    /* width: 100%;  */
    height: auto;
    /* transition: 3s; */
    animation: bordergui 3s bottom 1s 3 forwards forwards;
}
/* 
.Hcontainer ul {
    display: flex;
    
} */


/* image and heading div*/
.left-navbar{
    margin-left: 30px;

}

.left-navbar img{    /* LOGO IN NAVBAR */
    filter: invert(100%); /* making black logo to WHITE */
    height: 60px;               
    width: 140px;
    transition: 1s;
    
}
.left-navbar img:hover {      /*hover on navbar dumbell logo */
    transform:scale(1.5);

}

#Brand-Name{
    color: white;
    font-size: 1.3em;
    letter-spacing: 2px;
    font-weight: bolder;
    text-align: center;
    font-family: 'Averia Sans Libre', cursive;
    

 
}
/* image and heading div ENDS*/

/* mid navbar items starts */

.hicons{

    font-size: 20px;
    margin-right: 5px;
    /* vertical-align:middle; */
    transition: 0.3s;
}
.navbar ul {
    display: flex;
}

.navbar ul li {   /*navbar items middle */
    /* putting items like float */
    /* display: inline-flex;   */
    list-style: none;
    margin: 0px 10px 0px 10px;
    padding: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    /* flex-basis: 100%; */
    
    
    
}


.Hcontainer a {    /*navbar items text color */
    text-decoration: none;
    color: white;
   
    /* transition: 1s; */
}

/*ACTIVE CLASS */
#home_page #home {  
    background-color:rgb(156, 36, 160);
    /* font-size: 1.2rem; */
    padding: 10px; 
    border-top: 3px solid rgb(27, 218, 27) ;
    width: 100%;
    }
    
.navbar li:hover:not(.active){
    background-color:rgb(156, 36, 160);
    /* font-size: 1.2em; */
    /* padding: 24px; */
    border-top: 3px solid rgb(27, 218, 27) ;

}

/* mid navbar items starts */
.login-btn {
    margin-right: 80px;
    background-color: rgb(255, 0, 0);
    padding: 4px 23px 4px 23px;
    border: 1px solid rgb(255, 0, 0);
    border-radius: 3px;
    font-weight: bolder;
    letter-spacing: 2px;
    cursor: pointer;
    order: 1;
    
}

.login-btn:hover {
    color: black;
 
}
/*hamburger menu */
#checkbox {
    order: 2;
    display: none;
}

.fa-bars{
    background-color: white;
    font-size: 40px;
    order: 1;
}



/**** HEADER ENDS***/

/*** ADDING PROGRESS BAR AS NAVBAR BOTTOM BORDER ****/

#progressbar{
    z-index: 1;
    height: 5px;
    background: purple;
    border: solid purple;
    position: fixed;
    width: 100%;
    animation-name: bordergui;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-iteration-count:1;
    animation-direction: forwards;
    
}

@keyframes bordergui{
    /* from{
        width: 0%;
    }

    to {
        width: 100%;
    } */
    from { transform: scaleX(0); }
    to   { transform: scaleX(1); }
    
    20% {
        background: rgb(30, 255, 30);
        border: solid rgb(30, 255, 30);
    }

    40% {
       background: goldenrod;
       border: solid goldenrod;
    }
    60% {
       background: pink;
       border: solid pink;
    }
    80% {
       background: rgb(139, 130, 0);
       border: solid rgb(139, 130, 0);
    }
    100% {
       background: rgb(30, 240, 255);
       border: solid rgb(30, 240, 255);
    }
    


}


/*** PROGRESS BAR ENDS****/




/**** MAIN CONTENT JUMBOTRON ****/

/*BACKGROUND IMAGE */
.container::before{
    content: "";
    background:url(../Images/blackbg.jpg) no-repeat center center/cover;
    /* background: transparent; */
    position: absolute;
    /* top: 70px; */
    height: 100%;
    width: 100%;
    z-index: -99;
    /* opacity: 0.8; */
    /* right: 300px; */
    
/* -webkit-filter: blur(1px) brightness(0.5);
  -moz-filter: blur(1px) brightness(0.5);
  -ms-filter: blur(1px) brightness(0.5);
  -o-filter: blur(1px) brightness(0.5); */
  filter: blur(1px) brightness(0.3);

}


.container {
    /* margin-top: 150px; */
  
    /* border: 1px solid red; */
    height: 100%;
    width: 100%;
    position: relative;
    
    
}


/*** 1st section ****/



#main-content  p:first-child{
    font-family: Poppins, sans-serif;
    font-weight: bold;
    padding-top: 200px;
    margin: 0px 300px 100px 300px;
    text-align: center;
    text-align:center;
    color: rgb(255, 255, 255);
    font-size: 40px;
}


#main-content p:nth-child(2){
    font-family: Poppins, sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 18px;
    margin-left: 250px; outline: none;
    border-left: 4px solid rgb(212, 64, 18);
    border-spacing: 10px; padding-left: 11px;   
    /* animation: line 2s ease-in-out 1s 1 forwards;  */
    white-space: nowrap;
    overflow: hidden;
    animation:appear 3s ease ;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    
}       

@keyframes appear {
    from {
         transform: scaleX(2);
         opacity: 0; 
        }
        
    to   { 
        transform: scaleX(1); 
    }
}

#main-content p:nth-child(3){
    margin-top: 5px;
    color: rgb(212, 64, 18);
    font-size: 30px;
    font-weight: bolder;
    margin-left: 265px;
    font-family: 'Graduate', cursive;
    
    
    
}
/* start now anchor */
#start{  
   display: block;
    text-decoration: none;  
    color: white;
    font-size: 16px;
    font-family: Poppins, sans-serif;
    font-weight: bold;
    width: fit-content;
    text-align: center;
    align-items: center;
    margin-right: auto;
    margin-left:auto;
    padding: 15px 35px 15px 35px;
    border: 2px solid rgb(255, 0, 0);
    border-radius: 50px;
    animation: goup 3s ease ;
    transition: 1s;
    outline: none;
    
}

@keyframes goup {
   


    from {
        opacity: 0;
        margin-top: 400px;
    }
}

#start:hover{
    box-shadow: inset 300px 0 0 0 rgb(46, 34, 34);
    
}

/****1st section of MID CONTENT ends***/








/***** MAIN CONTENT ENDS ****/



/**FOOTER TOP AREA STARTS**/

.Fcontainer {
        background-color: black;
        color: white;
         /* leaving space between for picture */
        /* margin-top: 768px;      */
        border-top: 5px solid purple;
        z-index: 100;
        
        
        
}

#footer-top-area {
    padding: 30px;
        display: flex;
        justify-content: space-around; flex: 1;
         /* flex works on direct child so not putting it in container */
        
}

#footer-top-area section h3 {
    padding-bottom: 15px;
}

#footer-top-area hr {
 
    margin-bottom: 25px;
    border: 1px solid rgb(5, 211, 5);   /* green line below headings */
    width: 200px;
    animation: hrlines 2s ease-in-out 1s 1 forwards; 
            /* name duration functiontime duration iteration direction */
            
}

@keyframes hrlines {
    from {
       width: 0%
    }

    to {
     width: width 100%;
    }
}

#footer-top-area p {
    line-height: 3em;
}

.Fcontainer a {
    text-decoration: none;
    color: white;
       /* text color in footer paragraphs */
}

#address #num {
    transition: 0.3s; /* transition for number */
}

#address #num:hover {
    font-size: 1.2em;          /* number hover  and mail*/
    background-color: purple;
}
#social p {

    transition: 0.3s;
}

#social p:hover {
    transform: translateX(20px);
}

 #social a:hover {  
    color: purple;
    font-weight: bolder;

    
} 

.ficons {  /* social media icons */
    font-size: 30px;
    margin-right: 20px;
    vertical-align:middle;
    transition: 0.3s;

} 
.ficons:hover {   /* increasing social icons size when hover */
    font-size: 3em;
    text-shadow: 0px 0px 10px silver;
}

.fa-envelope {
    color: #9500da;
}

.fa-phone{
    color: rgb(8, 221, 8);
    
    transform: scaleX(-1);
}

.fa-facebook{

    color: #0210d3;
}

.fa-instagram{ 
    color: #f09433; 

  }


.fa-twitter{
    text-shadow: 1px 1px 1px #ccc;

    color: #00acee;
}

.fa-github{
   

    color: #f1b189;
}

.fa-linkedin{
    

    color: #0072b1;
}


#quote {
    display: flex;   /* goku pic and text aligned together same row and in middle */
    align-items: center;
}

#quote img {
    height: 190px;
    width: 140px;  /* GOKU pic */
    transition: .5s;
    
}

#quote img:hover {
    transform: translateX(10px) rotate(10deg) translateY(5px) scale3d(2,2,2);
    
}

#quote p {
    /* margin-top: 60px;       */    /*using flex instead in div
    /* float: left; */   
    color: rgb(255, 251, 0);
    font-family: 'Graduate', cursive;
    font-size: 1.2em;

}



/**FOOTER TOP AREA ENDS**/


/**FOOTER BOTTOM AREA STARTS**/

#footer-bottom-area {

    background-color: #121212;
    padding: 22px 0px 22px 0px;
    margin-top: 10px;
    display: flex;   
    justify-content: center;
    flex-wrap: wrap;
}

#cp {
    text-align: center;
    color: white;
    font-size: 1.1em;
    font-family: 'Averia Sans Libre';
}

#cp a{
    color: rgb(240, 142, 15);
}


#cp a:hover {
    color: rgb(150, 226, 8);
}

.fa-arrow-circle-up {
    position:fixed ;
    bottom: 15px;
    right: 15px;
    font-size: 1.6em;  
    transition: 1s;
    color: rgb(255, 0, 0);
    padding: 3px 5px 3px 5px;
    
       
}

.fa-arrow-circle-up:hover {
    background-color: #555;
    transform:translateY(-20px);
}



/**** MEDIA QUERIES ****/

/*** MEDIUM SIZE ***/
@media (min-width:891px) and (max-width: 980px){


  .left-navbar img{
      display: none;
  }


   #Brand-Name {
       font-size: 1.1em;
   }

 

   .login-btn{
      margin-right: 20px;
       padding: 4px 18px 4px 18px;
            
   }
}




/*** TABLET VIEW ****/
@media (min-width: 801px)  and (max-width: 890px){

  .hide{
       display: none;
      }  

       .hicons {
          font-size: 30px
      }

      #Brand-Name {
        display: none;
    }
    
    .left-navbar img{
        height: 80px;
        width: 100px;
    }
    
    .login-btn{
        margin-right: 20px;
         padding: 4px 18px 4px 18px;

              
     }


     #footer-top-area {
        /* flex: 1; */
        flex-direction: column;
        align-items: center;
         text-align: center;
     }
     
     #footer-top-area hr {
         width: 100%;
     
     }
     
     #footer-top-area br{
         display: none;
     }
     
     
     
     
     #quote img {
         height: 120px;
         width: 100px;
     }
     
     #social h3 {
         margin-top: 40px;
     }

}





/*** SMALL SIZE MOBILE  ***/
@media  (max-width: 800px){
    

.Hcontainer{
    display: block;
    
}

.login-btn{
   float: right;
   margin-top: 12px;
   margin-right: 10px;
   
    
}



#Brand-Name{
    text-align: center;
    /* padding-top: 12px; */
    /* float: right; */
    
}
.left-navbar{
    float: left;
}

.navbar ul  {
    
    flex-direction: column;
        text-align: center;
         padding-top: 20px;
        clear: both;  
        align-items: center; 
        /* display: none; */
}

#check:checked ~ .navbar ul {
    display: block;
}

.navbar ul li{
    flex-basis: auto;
   padding-bottom: 15px;
    width: 90%;
    
    
}

#footer-top-area {
   /* flex: 1; */
   flex-direction: column;
   align-items: center;
    text-align: center;
}

#footer-top-area hr {
    width: 100%;

}

#footer-top-area br{
    display: none;
}




#quote img {
    height: 120px;
    width: 100px;
}

#social h3 {
    margin-top: 40px;
}

#checkbox {
    clear: both;
    text-align: end;
    display: block;
}

#check {
    
}

}
