
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400');
@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&family=Lobster&family=New+Rocker&family=Prata&display=swap');
* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    /* outline: 1px solid red; */
    /*outline to check the outside page elements */
}
html {
    scroll-behavior: smooth;
    height: 100%;
   width: 100%;
  
    
    
    

  }

body {
  
 
    /* font-family: 'Lato', sans-serif; */
    font-family: 'Poppins', sans-serif;
    /* background:url(../Images/bkgokuuuu.jpg) center 10px; */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    
    /* background-attachment: fixed; */

    
}

/****************** HEADER ******************/

 

.Hcontainer{
    overflow-x: visible;
    /* position: relative; */
    z-index: 4; /* so mid content won;t overlap */
    background-color: rgb(10, 2, 17);
    display: flex;
    align-content: center;
    justify-content: space-between; /*aligning x axis horizontal */
    align-items: center; /*align y axis vertical */
    padding: 5px;
    flex-wrap: wrap;    
    /* opacity: 0.1; */
    overflow: hidden;
    position: sticky; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the topof the page */
    /* width: 100%;  */
    height: auto;
    /* transition: 3s; */
    animation: bordergui 3s bottom 1s 3 forwards forwards;
}
/* 
.Hcontainer ul {
    display: flex;
    
} */


/* image and heading div*/
.left-navbar{
    margin-left: 30px;

}

.left-navbar img{    /* LOGO IN NAVBAR */
    filter: invert(100%); /* making black logo to WHITE */
    height: 60px;               
    width: 140px;
    transition: 1s;
    
}
.left-navbar img:hover {      /*hover on navbar dumbell logo */
    transform:scale(1.5);

}

#Brand-Name{
    /* background-color: #666666;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(255,255,255,0.5) 0px 3px 3px; */
    



    font-size: 1.3em;
    letter-spacing: 2px;
    font-weight: bolder;
    text-align: center;
    font-family: 'Averia Sans Libre', cursive;
 
}
/* image and heading div ENDS*/

/* mid navbar items starts */

.hicons{

    font-size: 20px;
    margin-right: 5px;
    /* vertical-align:middle; */
    transition: 0.3s;
}


.navbar ul {
    display: flex;
    
}

.navbar ul li {   /*navbar items middle */
    /* putting items like float */
    /* display: inline-flex;   */
    list-style: none;
    margin: 0px 10px 0px 10px;
    padding: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    /* flex-basis: 100%; */
    
}


.Hcontainer a {    /*navbar items text color */
    text-decoration: none;
    color: white;
   
    /* transition: 1s; */
}

/*ACTIVE CLASS */
#home, #about, #services, #contact {  
    background-color:rgb(156, 36, 160);
    /* font-size: 1.2rem; */
    padding: 10px;
    border-top: 3px solid rgb(27, 218, 27) ;
    
    }
    
    
.navbar li:hover:not(.active){
    background-color:rgb(156, 36, 160);
    /* font-size: 1.2em; */
    /* padding: 24px; */
    border-top: 3px solid rgb(27, 218, 27) ;
    

}

/* mid navbar items starts */
.login-btn {
    margin-right: 80px;
    /* background-color: rgb(255, 0, 0); */
    padding: 4px 23px 4px 23px;
    /* border: 1px solid rgb(255, 0, 0); */
   
    border-radius: 3px;
    font-weight: bolder;
    letter-spacing: 2px;
    cursor: pointer;
    order: 1;
    background-image:  linear-gradient(to right, #000000 0%, #ff0d07  51%, #000000  100%);
    color: white;            
    box-shadow: 0 0 20px #eee;
    background-size: 200% auto;
   transition: 0.5s;
}

.login-btn:hover {
    
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    /* text-decoration: none; */
 
}
/*hamburger menu */
 #toggleDiv{
    order: 2; /* putting it in last of navbar tho hidden */
    display: none;
    margin-right: 25px;
    /* margin-top: 50px; */
    
}

#menu{
    cursor: pointer;
    font-size: 30px;
    border-radius: 50px;
    padding: 2px 5px 2px 5px;
    background-color: transparent;
    color: white;
     font-style: italic;
}

#menuLine {
    display: none;
}

/**** HEADER ENDS***/

/*** ADDING PROGRESS BAR AS NAVBAR BOTTOM BORDER ****/

#progressbar{
    z-index: 4;
    height: 5px;
    background: purple;
    border: solid purple;
    position: fixed;
    width: 100%;
    animation-name: bordergui;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-iteration-count:1;
    animation-direction: forwards;
    
}

@keyframes bordergui{
    /* from{
        width: 0%;
    }

    to {
        width: 100%;
    } */
    from { transform: scaleX(0); }
    to   { transform: scaleX(1); }
    
    20% {
        background: rgb(30, 255, 30);
        border: solid rgb(30, 255, 30);
    }

    40% {
       background: goldenrod;
       border: solid goldenrod;
    }
    60% {
       background: pink;
       border: solid pink;
    }
    80% {
       background: rgb(139, 130, 0);
       border: solid rgb(139, 130, 0);
    }
    100% {
       background: rgb(30, 240, 255);
       border: solid rgb(30, 240, 255);
    }
    


}


/*** PROGRESS BAR ENDS****/




/**** MAIN CONTENT JUMBOTRON ****/

/*BACKGROUND IMAGE */
.container::before{
    content: "";
    background:url(../Images/blackbg.jpg) no-repeat center center/cover;
    /* background: transparent; */
    position: absolute;
    /* top: 70px; */
    height: 100%;
    width: 100%;
    z-index: -99;
    /* opacity: 0.8; */
    /* right: 300px; */
    
/* -webkit-filter: blur(1px) brightness(0.5);
  -moz-filter: blur(1px) brightness(0.5);
  -ms-filter: blur(1px) brightness(0.5);
  -o-filter: blur(1px) brightness(0.5); */
  filter: blur(1px) brightness(0.3);

}


.container {
    /* margin-top: 150px; */
  
    /* border: 1px solid red; */
    height: 100%;
    width: 100%;
    position: relative;
    /*position relative for bg  image absolute*/
    font-size: 1vw;
    /* flex-direction: column; */
}


/*** 1st section of Main content ****/



#main-content  p:first-child{
    font-family: Poppins, sans-serif;
    font-weight: bold;
    padding-top: 14.7vw;
    margin: 0px 20% 7.4% 20%;
    text-align:center;
    color: rgb(255, 255, 255);
    font-size: 3em;
    white-space: pre-line;
}


#main-content p:nth-child(2){
    font-family: Poppins, sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 1.3em;
    margin-left: 18.55%;
    
    border-left: 4px solid rgb(212, 64, 18);
    border-spacing: 10px; padding-left: 11px;   
    /* animation: line 2s ease-in-out 1s 1 forwards;  */
    white-space: nowrap;
    overflow: hidden;
    animation:appear 3s ease ;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    
}       

@keyframes appear {
    from {
         transform: scaleX(2);
         opacity: 0; 
        }
        
    to   { 
        transform: scaleX(1); 
    }
}


#main-content p:nth-child(3){
    margin-top: 5px;
    color: rgb(212, 64, 18);
    font-size: 2.2em;
    font-weight: bolder;
    margin-left: 19.6%;
    font-family: 'Graduate', cursive;
    
}
/* start now anchor */
#start{  
   display: block;
    text-decoration: none;  
    color: white;
    font-size: 1.2em;
    font-family: Poppins, sans-serif;
    font-weight: bold;
    width: max-content;
    text-align: center;
    align-items: center;
    margin-right: auto;
    margin-left:auto;
    margin-top: 2%;
    padding: 1.1% 2.8%;
    border: 2px solid rgb(255, 0, 0);
    border-radius: 50px;
    animation: goup 3s ease ;
    transition: 1s;
    transition-timing-function: ease-in-out;
    
    
}

@keyframes goup {
   


    from {
        opacity: 0;
        margin-top: 400px;
    }
}

#start:hover{
    box-shadow: inset 300px 0 0 0 rgb(0, 0, 0);
    border-color: rgb(255, 255, 255);
    transform: translateY(-10px);
    
    
   
}

/****1st section of MID CONTENT ends***/








/***** MAIN CONTENT ENDS ****/



/**FOOTER TOP AREA STARTS**/

.Fcontainer {
        background-color: black;
        color: white;
         /* leaving space between for picture */
        /* margin-top: 768px;      */
        border-top: 5px solid purple;
        z-index: 100;
        overflow-x: hidden; /*removing white space from right side on small screen */
        
        
}

#footer-top-area {
    padding: 30px;
        display: flex;
        justify-content: space-around; 
         /* flex works on direct child so not putting it in container */
        flex-wrap: wrap;
        align-content: center;
        /* align-items:baseline; */
        /* text-align: center; */
}
/* 
#footer-top-area section  {
    flex-basis: 100%; can be used to make a section alone in row for mobile window
    
} */

#footer-top-area section h3 {
    padding-bottom: 15px;
}

#footer-top-area hr {
 
    margin-bottom: 25px;
    border: 1px solid rgb(5, 211, 5);   /* green line below headings */
    width: 200px;
    animation: hrlines 2s ease-in-out 1s 1 forwards; 
            /*name duration timing-function delay iteration-count direction fill-mode; */
            
}

@keyframes hrlines {
    from {
       width: 0%
    }

    to {
     width: width 100%;
    }
}

#footer-top-area p {
    line-height: 3em;
}

.Fcontainer a {
    text-decoration: none;
    color: white;
       /* text color in footer paragraphs */
}

section h3{
    text-shadow: 2px 2px lightseagreen;
}

#address #num {
    transition: 0.3s; /* transition for number */
}

#address #num:hover {
    font-size: 1.2em;          /* number hover  and mail*/
    background-color: purple;
}
#social p {
    transition: 0.3s;
    
}

#social p:hover {
   
    transform: translateX(20px);
}

 #social a:hover {  
    color: purple;
    font-weight: bolder;

    
} 

.ficons {  /* social media icons */
    font-size: 30px;
    margin-right: 20px;
    vertical-align:middle;
    transition: 0.3s;

} 
.ficons:hover {   /* increasing social icons size when hover */
    font-size: 3em;
    text-shadow: 0px 0px 10px silver;
}

.fa-envelope {
    color: #9500da;
}

.fa-map-marker-alt{
    color: red;
}

.fa-phone{
    color: rgb(8, 221, 8);
    
    transform: scaleX(-1);
}

.fa-facebook{

    color: #0210d3;
}

.fa-instagram{ 
    color: #f09433; 

  }


.fa-twitter{
    

    color: #00acee;
}

.fa-github{
   

    color: #f1b189;
}

.fa-linkedin{
    

    color: #0072b1;
}


#quote {
    display: flex;   /* goku pic and text aligned together same row and in middle */
    align-items: center;
}

#quote img {
    height: 190px;
    width: 140px;  /* GOKU pic */
    transition: .5s;
    
}

#quote img:hover {
    transform: translateX(10px) rotate(10deg) translateY(5px) scale3d(2,2,2);
    
}

#quote p {
    /* margin-top: 60px;       */    /*using flex instead in div
    /* float: left; */   
    color: rgb(255, 251, 0);
    font-family: 'Graduate', cursive;
    font-size: 1.2em;

}



/**FOOTER TOP AREA ENDS**/


/**FOOTER BOTTOM AREA STARTS**/

#footer-bottom-area {

    background-color: #121212;
    padding: 22px 0px 22px 0px;
    margin-top: 10px;
    display: flex;   
    justify-content: center;
    flex-wrap: wrap;
}

#cp {
    text-align: center;
    color: white;
    font-size: 1.1em;
    font-family: 'Averia Sans Libre';
}

#cp a{
    color: rgb(240, 142, 15);
}


#cp a:hover {
    color: rgb(150, 226, 8);
}

.fa-arrow-circle-up {
    position:fixed ;
    bottom: 15px;
    right: 15px;
    font-size: 1.6em;  
    transition: 1s;
    color: rgb(255, 0, 0);
    padding: 3px 5px 3px 5px;
    animation: ScrbtnUp 0.5s ease-in-out 0s 1;
    
       
}

@keyframes ScrbtnUp{
    from {
        bottom: -20px;
    }

    to {
        bottom: 15px;
    }
}

.fa-arrow-circle-up:hover {
    background-color: #555;
    transform:translateY(-20px);
}



/**** MEDIA QUERIES ****/

/*** MEDIUM SIZE ***/
@media (min-width:891px) and (max-width: 980px){


  .left-navbar img{
      display: none;
  }


   #Brand-Name {
       font-size: 1.1em;
       
   }

 

   .login-btn{
      margin-right: 20px;
       padding: 4px 18px 4px 18px;
            
   }
}




/*** TABLET VIEW ****/
@media (min-width: 801px)  and (max-width: 890px){

  .hide{
       display: none;
      }  

       .hicons {
          font-size: 30px
      }

      #Brand-Name {
        display: none;
    }
    
    .left-navbar img{
        height: 80px;
        width: 100px;
    }
    
    .login-btn{
        margin-right: 20px;
         padding: 4px 18px 4px 18px;

              
     }


     #footer-top-area {
        /* flex: 1; */
        flex-direction: column;
        align-items: center;
         text-align: center;
     }
    
     #social, #address {
         margin-top: 50px;
     }

     #footer-top-area hr {
         width: 100%;
     
     }
     
     #footer-top-area br{
         display: none;
     }
     
     
     
     
     #quote img {
         height: 120px;
         width: 100px;
     }
     
     .navbar {
        display: block ;
    }

    
}





/*** SMALL SIZE MOBILE  ***/
@media  (max-width: 800px){
      

.Hcontainer{
    display: block;
    
}

.login-btn{
   float: right;
   margin-top: 8px;
   margin-right: 10px;
   padding: 2px 15px 2px 15px;
   border-radius: 50px;
   /* display: block;
   width: fit-content;
   margin: 5px auto; */
    
}

.left-navbar img{
    display: none;
}

#Brand-Name{
    /* text-align: center; */
    /* padding-top: 12px; */
    /* float: right; */
    text-align: left;
    font-size: 1.5em;
    
      text-shadow: 0 2px 1px #747474, 
          -1px 3px 1px #767676, 
          -2px 5px 1px #787878, 
          -3px 7px 1px #7a7a7a,
          -4px 9px 1px #7f7f7f,
          -5px 11px 1px #838383,
          -6px 13px 1px #878787,
          -7px 15px 1px #8a8a8a, 
          -8px 17px 1px #8e8e8e,
          -9px 19px 1px #949494,
          -10px 21px 1px #989898,
          -11px 23px 1px #9f9f9f,
          -12px 25px 1px #a2a2a2, 
          -13px 27px 1px #a7a7a7,
          -14px 29px 1px #adadad,
          -15px 31px 1px #b3b3b3,
          -16px 33px 1px #b6b6b6,
          -17px 35px 1px #bcbcbc, 
          -18px 37px 1px #c2c2c2,
          -19px 39px 1px #c8c8c8,
          -20px 41px 1px #cbcbcb,
          -21px 43px 1px #d2d2d2,
          -22px 45px 1px #d5d5d5, 
          -23px 47px 1px #e2e2e2,
          -24px 49px 1px #e6e6e6,
          -25px 51px 1px #eaeaea,
          -26px 53px 1px #efefef;
    
}
.left-navbar{
    float: left;
}

.navbar {
    display: none;
    animation: collapse 0s ease-in-out 3s forwards 1;
    height: 100%;
    transition: height 2s ease;
}


.navbar ul{
    animation: collapse 0s ease-in-out 3s forwards 1;
    height: 100%;
}

@keyframes collapse {
    from {
        height: 0%
    }

    to {
        height: 100%
    }
}


.navbar ul  {
    
    flex-direction: column;
        text-align: center;
         padding-top: 10px;
        clear: both;  
        align-items: center; 
        
        
}


.navbar ul li{
    font-size: 0.8em;
   padding-bottom: 10px;
    width: 90%;
    
    
}


#main-content  p:first-child{
    font-size: 5em ;
    margin: 0px 10% 15% 10%;
    padding-top: 29.7vw;
}

#main-content p:nth-child(2){
    font-size: 3em;
    margin-left: 9.55%;
}

#main-content p:nth-child(3){
    font-size: 4.5em;
    margin-left: 12.6%;
}

#start{  
    font-size: 2.2em;
    margin-top: 10%;
    padding: 2.5% 6%;
}


#footer-top-area {
   /* flex: 1; */
   flex-direction: column;
   align-items: center;
    text-align: center;
}

#footer-top-area hr {
    width: 100%;

}

#footer-top-area br{
    display: none;
}
section h3{
    text-shadow: lightseagreen;
}
#quote p {
    font-size: 0.9em;
}
#quote img {
    height: 120px;
    width: 100px;
}

#social, #address{
    margin-top: 50px;
}

#toggleDiv {
    text-align: right;
    clear: both;
    display: block;
}
#menu {
    display: inline-block;
    /* clear: both; */
    /* text-align: end; */
    margin-top: 10px;
    
   
}

#menuLine {
    display: block;
    margin-top: 10px;
    border: 2px solid rgb(5, 211, 5);
    width: 100%;
    animation: menuline 1s ease-in-out 1 forwards; 
    /* name duration timing-function delay iteration-count direction fill-mode; */
 
}

@keyframes menuline {
from {
    transform: scaleX(0);
}

to {
    transform: scaleX(1);
}
}


}



/* FIRST HOME PAGE ENDS */





/* *********************ABOUT PAGE******************* */

/* IMAGE AND STUFF SECTION */

.about{
    overflow-x: hidden;
}

.about .image {
    position: relative;
    width: 100%;
    height: 400px;
 
   
    
}


.about .image::before {
    content: "";
    background: url(../Images/gokuteam.jpg) no-repeat center center/cover;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    filter: blur(0px) brightness(0.4);
    
}


.about .image p{
    text-align: center;
    font-size: 2.5rem;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    padding-top: 150px;
    font-style: italic;
    font-family: 'Lemon', cursive;

}
#image-box {
    text-align: center;
    margin-top: 178px;
    
}

#image-box a {  
 font-size: 20px;
 color: white;
 text-decoration: none;
 font-weight: bolder;
 padding: 15px 35px 15px 35px;
 border-radius: 50px;
 background-color: rgb(60 0 243);
}

#image-box a:hover{
    color: black;
}

/* IMAGE AND STUFF SECTION  ENDS*/


/* History section BEGINS */
.about section:first-of-type {  /*history section */
    
    display: flex;
    justify-content: space-around;
    padding: 100px 70px 100px 70px;   
    
}

#history div{
    flex-basis: 40%;   /*space between both paragraphs */
    
}

#history div h1{
    font-size: 2rem;
    margin-bottom: 20px;
    font-weight: bolder;
    color: #000;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 30px;
}

#history div p{
    font-weight: normal;
    font-size: 15px;
    line-height: 1.6;
    color: #000000;
    font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
}
/* History section ENDS */

/* TEAM SECTION */

#team {
    background: 			rgb(16,16,16);
    
    display: flex;
    /* justify-content: space-around;
    align-content: space-around; */
    position: relative;
    height: 700px;  
    flex-direction: column;
    align-items: center;

  
}


#team h1 {
    color: white;
    text-align: center;
    padding-top: 40px;
    width: 100%;
    padding-bottom: 30px;
    
  
 }

#team #pic-sec{
    
    position: relative;
    transform-style: preserve-3d;
    animation: animate 20s linear infinite;
    height: 220px;
    width: 220px;
    
    
}

@keyframes animate {

0% {
    transform: perspective(1000px) rotateY(0deg);
}

100% {
    transform: perspective(1000px) rotateY(360deg);
}
}



 #team .card{
     /* flex-basis: 23%; */
    display: flex;
    justify-content: center;
    align-items: center;
     background-color: white;
     height: 100%;
     width: 100%;
     /* margin-left: 5%;
     margin-right: 5%;    */
     border: 2px solid linear-gradient(135deg, #f403d1, #64b5f6);
     margin-top: 80px; 
     /* transition: 10s; */
     /* perspective: 5000px; */
     position: absolute;
     left: 0;
     /* bottom: 0; */
     /* right: 300px; */
     top: 0;
     transition: 500ms;
/* transform-style: preserve-3d; */
transform-origin: center;
transform: rotateY(calc(var(--i)* 45deg)) translateZ(350px);

-webkit-box-reflect: below 0px linear-gradient(transparent,transparent,#0004);
 }
 
#team .card:hover h2 , #team .card:hover p{
    
    opacity: 1;
    
     
 }



 .card img {
    /* height: 300px; */
    height: 100%;
    width: 100%;
    cursor: pointer;
    /* opacity: 1; */
    /* filter: brightness(0.5); */
   
   /* object-fit: cover; */
   transition: 500ms;

   
 }
 

  .card img:hover{
    /* opacity: 0.5; */
    filter: brightness(0.4);
    /* perspective: 4000px; */
   
    /* transform:rotate3d(0,0,1, 60deg); */
  
  
 }  

 .card h2{
     text-align: center;
        font-size: 1.5em;
        font-family:Arial, Helvetica, sans-serif;
        position: absolute;
        bottom: 100px;
        color: white;
        opacity: 0;
        transition: 500ms;
        
    }

 .card p{
    text-align: center;
     /* margin-top: 10px; */
    font-size: 1.1em;
    font-weight: 700;
    color: #cd05ff;
    position: absolute;
    bottom: 60px;
    opacity: 0;
    transition: 500ms;
}
/* TEAM SECTION ENDS/*

/* Video section */

#video {
    background-color: #675e5e;
    padding: 70px 0px 70px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    
}


#video div{
    flex-basis: 35%;
}

#video #text {
    align-self:baseline;
    margin-top: 70px;
}

#video h1:first-child{
    font-size: 3em;
    margin-bottom: 30px;
    
}

#video h1 {
    font-family: itc-avant-garde-gothic-pro;
    font-size: 2em;
    font-weight: bolder;
    word-wrap: break-word;
    
   
}

#down-arrow{
    display: none;
}

#video p{
    width: 70%;
    color: white;
    font-family: "ff-meta-web-pro",sans-serif ;
    line-height: 1.4em;
    font-weight: 500;
    word-spacing: 2px;
    
}

#video #detail{
    /* width: 60%; */
    display: inline-flex;
    justify-content: space-between;
}

#video #detail a {
    text-decoration: none;
    background-color: rgb(0, 202, 135);
    padding: 10px 25px 10px 25px;
    border-radius: 4px;
    align-self: center;
    color: white;
    font-weight: bolder;
    font-family: "ff-meta-web-pro",sans-serif ;
    
}

#video #detail a:hover{
    filter: brightness(0.7);
    color: black;

}
 
#video video:hover {
    /* filter: brightness(0.8); */
    box-shadow: 0 1px 5px 1px #cccccc;
}


#vid-sec{
    position: relative;
}


#vid-sec::before, #vid-sec:after {
    content: "";
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(-45deg, #00ff66, #00ffff, #ff00ff, #ff0099, #099fff);
    background-size: 300px;
    height: calc(100% +5px);
    width: calc(100% +5px);
    z-index: -1;

}
/* Video section Ends*/










/* MEDIA QUERIES FOR ABOUT PAGE */







/*** MEDIUM SIZE ***/
@media (min-width:891px) and (max-width: 980px){



}






/*** TABLET VIEW ****/
@media (min-width: 801px)  and (max-width: 890px) {



    
}






/*** SMALL SIZE MOBILE  ***/
@media  (max-width: 800px){

    .about section:first-of-type {
    
        flex-direction: column;
        justify-content: space-around;
       
        
    }

    #history div:first-of-type{
        margin-bottom: 70px;
        
    }
    
 
    #team {
       
        /* padding-bottom: 100px; */
       flex-direction: column;
        align-items: center;
    }

    #team #pic-sec {
        height: 150px;
        width: 150px;
    }

    #team .card{
        transform: rotateY(calc(var(--i)* 45deg)) translateZ(300px);    }

    #video {
        flex-direction: column;
        padding: 0px 0px 70px 0px;
        align-content: center;
        
        
       
    }

    #vid-sec, #video #text{
        margin-top: 80px;
        width: 90%;
    }

    #video #detail{
       
        display: block;
        text-align: center;
        /* padding: 0px 30px 0px 30px; */
        
    }

    #video p{
        width: 100%;
        margin-bottom: 20px;
    }

    #video h1 {
        text-align: center;
        font-size: 1.3em;
    }

    #right-arrow {
        display: none;
    }

    #down-arrow{
        display: block;
        margin-top: 20px;
        font-size: 2em;
    }
}

/**************** HOME PAGE ENDS*********** */






/* *********************CONTACT US PAGE******************* */

.wrapper {
    /* overflow-x: hidden; */
    display: grid;
    
   grid-template-areas:
                         "cvrPic cvrPic cvrPic cvrPic"
                         "sidebar table table table"
                         "sidebar contact contact contact "
                         "address address map map";
    
                         grid-gap: 5px;

    grid-template-columns: 1fr 0.5fr 1.5fr 1fr;
    
                background-color: rgb(66 63 61);  
                overflow-x: hidden;                    
}


/* 
.wrapper > div {
   
    
    border: 3px solid black;
    
} */

/* grid header */
.cvrPic{
    height: 500px;
    width: 100%;
    grid-area: cvrPic;
    position: relative;
     /* display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    align-content: center;  */
    display: grid;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    justify-items: center;
   
    
}

.cvrPic::before{
    content: "";
    background: url(../Images/header/header8.jpg) no-repeat center center /cover;
    height: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    z-index: 1;
    filter: blur(0px) brightness(0.4);
    background-color: black;

    
    
}

.cvrPic h1{
    color: white;
    font-family: 'Acme', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    word-spacing: 6px;
    margin-bottom: 15px;
    z-index: 2;
    
    

}

.cvrPic p{
    color:white;
    font-size: 18px;
    font-weight: bolder;
    /* flex-basis: 20%;    pushing a bit up */
    width: 90%;
    z-index: 2;
}



/* grid header ends*/


/* sidebar ME */
.sidebar{
    /* height: 1000px; */
   text-align: center;
    grid-area: sidebar;
    background-color: rgb(207, 204, 204);
    
    
    
 
}

.sidePic {
    background: url(../Images/sidebar/cat.jpg) no-repeat center center /cover;
    height: 170px;
    margin-bottom: 120px;

}

.sideProfile img {
    border-radius: 50%;
    height: 150px;
    width: 140px;
    transform: translateY(95px);
    
}

.sidebar h1 {
 margin-top: 20px;
 /* margin-bottom: 20px; */
font-family: 'New Rocker', cursive;
font-family: 'Prata', serif;

}

.sidebar p:nth-of-type(odd){
    font-size: 22px;
    font-weight: bolder;
   
    font-family: 'Prata', serif;
 
    margin-bottom: 30px;
}


.sidebar p:nth-of-type(even){
    font-size: 30px;
    font-weight: bolder;
    font-family: 'Lobster', cursive;
    letter-spacing: 4px;
    color: rgb(56 19 144);
    margin-bottom: 30px;
}

.sidebar li{
    list-style: none;
}

.sidebar .ficons{
    font-size: 35px;
    
    margin-right: 0px;
}

.sidebar .ficons:hover{
    text-shadow: 0px 0px 10px rgb(0, 0, 0);
    font-size: 5em;
}

/* sidebar ends */


/* Table starts */
.table{
    grid-area: table;
    text-align: center;
    font-weight: bolder;
    height: 500px;
    /* justify-self: center; */
    
    

    
    
}

.table table {
    
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    
    table-layout: fixed;
    
}


.table  table, td, th {
    border: 2px solid black;
}

.table tbody tr:last-of-type {
    border-bottom: 3px solid black;
}

.table td, th {
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
    
}


.table th[colspan="2"]{
    /* background-color: yellow; */
    color: rgb(0, 0, 0);

}

.table th h1{
    background-color: white;
}


.table th {
    height: 70px;
    background-color: #009879;
    color: white;
}




.table tr:nth-child(odd){
    color: rgb(0, 0, 0);
    background: #ffffff;
}

.table tr:nth-child(even){
    color: #009879;
    background:  #f3f3f3;
    
}


/* table ends */

/* addresses starts */

.Contactaddress {
     grid-area: address;
     font-style: normal;
    /* justify-self: center; */
    align-self: center;
    line-height: 2em;
    letter-spacing: 1px;
    margin-left: 10px;
    
    
   
}

.Contactaddress .addressIcons {
    font-size: 1.2em;
    padding: 10px;
    vertical-align: middle;

}

.Contactaddress h2 {
    color: white;
}
    .Contactaddress a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 600;
}

.Contactaddress a:hover {
    color: blue;
}

.Contactaddress p {
    margin-bottom: 20px;
    font-weight: 600;
    color: rgb(255, 255, 255);
}
.Contactaddress  .fa-map-marker-alt{
    color: red;
}

.Contactaddress .addressicons {
    font-size: 30px;
    padding: 7px 13px 7px 13px;
}

.Contactaddress .addressicons:hover{
    background-color: rgb(201, 181, 181);
    border-radius: 50%;
}

.Contactaddress h2:nth-child(7){
    margin-bottom: 15px;
}




/* addresses ends */

/* CONTACT section STARTS */

.contact{
    background: white;
     grid-area: contact;
     display: grid;
     grid-template-columns: repeat( 4, 1fr);
     justify-content: center;
     justify-items: center;
     align-items: center;
     align-content: center;
     text-align: center;
     
     
     
     /* justify-self: center; */
     /* padding: 50px 5px 10px 5px; */
     

}

.contactbox {
    /* background-color: #b117ff; */
    background-color: #37dca9;
    height: 220px;
    width: 220px;
    position: relative;
    margin-bottom: 20px;
    
    
  
}

.contactHeading{
    grid-row: 1/-1;
    grid-column: 1/-1;   
    font-weight: bolder;
    font-size: 1.3em;
    margin-bottom: 100px;
    font-family: monospace;
    line-height: 60px;
    
}

.contactHeading hr{
    width: 70px;
    margin: 30px auto 0px auto;
    border: 5px solid black;
   
}


.contact1{
    grid-row: 2/2;
    grid-column: 1/1;   
    
}

.contact2{
    grid-row: 2/2;
    grid-column: 2/2;   
}

.contact3{
    grid-row: 2/2;
    grid-column: 3/3;   
}

.contact4{
    grid-row: 2/2;
    grid-column: 4/4;   
}

.contactIcons .fa-comment-dots, .contactIcons .fa-retweet, .contactIcons .fa-sms, .contactIcons .fa-envelope {
    font-size: 70px;
    color: rgb(0, 0, 0);
    transform: translateY(-25px);
    margin-bottom: 20px;
}

.contact p {
    font-size: 20px;
    font-weight: 600;
    font-family: 'Itim', cursive;
    margin-bottom: 40px;
}

.contact a:not(.contact4 a) {
    text-decoration: none;
    background: white;
    padding: 15px 25px;
    color: #000000;
    font-weight: 400;
    font-family: "ProximaNova-Regular", Helvetica, sans-serif;
    border: 2px solid black;   
}

.contact a:hover:not(.contact4 a){
    background-color: black;
    color: white;
}


.contact4 a{
    text-decoration: none;
    color: black; 
}

.contact4 p:first-of-type a:hover{ /*for twitter */
    color: rgb(29, 112, 236);
}

.contact4  a:hover{ /*for twitter */
    color: rgb(0, 45, 248);
}



/* CONTACT ENDS */

.map{
    grid-area: map;
    line-height: 0;
}   



/* MEDIA QUERIES FOR  CONTACT US PAGE */




/****LARGE SIZE***/
@media (min-width:980px) and (max-width:1200px){

    .contactHeading{
        margin-bottom: 50px;
    }

    .contact{
        grid-gap: 50px;
    }

    .contactbox {
        width: 300px;
    }

    .contact1{
        grid-row: 2/2;
        grid-column: 2/2;   
        
    }
    
    .contact2{
        grid-row: 2/2;
        grid-column: 3/3;   
    }
    
    .contact3{
        grid-row: 3/3;
        grid-column: 2/2;   
    }
    
    .contact4{
        grid-row: 3/3;
        grid-column: 3/3;   
    }
    

}




/*** MEDIUM SIZE ***/
@media (min-width:891px) and (max-width: 980px){
    .wrapper {
        grid-template-areas:
                              "cvrPic "
                              "sidebar "
                              "table"
                              "contact"
                              "address"
                              "map";
         
                              grid-gap: 10px;
     
         grid-template-columns: 100%;
         
                     background-color: rgb(66 63 61);  
         
     }
     
 
     .table table {
         margin: auto;
         width: 96%;
     }
 
     .Contactaddress {
         padding: 20px;
     }
 

    .contact{
        display: flex;
        /* flex-direction: column; */
        flex-wrap: wrap;
        justify-content: space-evenly;
        
    }

    .contactbox {
        flex: 0 0 42%;
        margin-bottom: 50px;

    }



}





/*** TABLET VIEW ****/
@media (min-width: 801px)  and (max-width: 890px) {

    .wrapper {
        grid-template-areas:
                              "cvrPic "
                              "sidebar "
                              "table"
                              "contact"
                              "address"
                              "map";
         
                              grid-gap: 10px;
     
         grid-template-columns: 100%;
         
                     background-color: rgb(66 63 61);  
         
     }
     
 
     .table table {
         margin: auto;
         width: 96%;
     }
 
     .Contactaddress {
         padding: 20px;
     }
 

    .contact{
        display: flex;
        /* flex-direction: column; */
        flex-wrap: wrap;
        justify-content: space-evenly;
        
    }

    .contactbox {
        flex: 0 0 40%;
        margin-bottom: 50px;

    }
    
   
    
}




/*** SMALL SIZE MOBILE  ***/
@media  (max-width: 800px){

    .wrapper {
        
       grid-template-areas:
                             "cvrPic "
                             "sidebar "
                             "table"
                             "contact"
                             "address"
                             "map";
        
                             grid-gap: 10px;
    
        grid-template-columns: 100%;
        
                    background-color: rgb(66 63 61);  
        
    }
    

    .table table {
        margin: auto;
        width: 96%;
    }

    .Contactaddress {
        padding: 20px;
    }

    .contact{
        display: flex;
        /* flex-direction: column; */
        flex-wrap: wrap;
        
        
        
        
    }

    .contactbox {
        flex: 0 0 90%;
        margin-bottom: 50px;

    }

    .Contactaddress p {
        margin-bottom: 40px;
    
}

}


/**** CONTACT US PAGE ENDS *******/





/***** REQUEST PAGE STARTS ****/
.background {
    position: relative;
    overflow-x: hidden;
}

.background::before {
    content: "";
    background: url(../Images/req_bg.jpg) center center /cover;
    height: 100%;
    width: 100%;
    position: absolute;
    
    z-index: -1;
    filter: blur(0px) brightness(0.7);
}

.main {
    background: rgb(42 34 70 / 80%);
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}


.main form {
    width: 50%;
    
   
}



.main p a{
    color: #58C8FF;
    font-weight: bolder;
    text-decoration: none;
}

.main p a:hover{
    color: #20f5f5;

}

.main p:first-child{
    font-size: 14px;
    font-family: 'Averia Sans Libre';
    align-self:flex-start;
    margin-bottom: 40px;
    margin-top: 40px;
    color: white;
    
   
}

.main h1{
    font-family: 'Averia Sans Libre';
    margin-bottom: 40px;
    color: #20f5f5;
}

.main label {
    font-size: 14px;
    font-family: "ProximaNova-Regular", Helvetica, sans-serif;
    display: block;
    margin-bottom: 10px;
    font-weight: 100;
    color: white;
    cursor: pointer;

}

.main label:not([for=need],[for=file-select])::after {
    content: "*";
    color: rgb(255, 0, 0);
    margin-left: 2px;
    font-weight: bolder;
    
}

.main select{
    width: 100%;
    height: 8%;
    /* border: 1px solid black; */
    box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
    padding: 10px;
    font-family: "ProximaNova-Regular", Helvetica, sans-serif;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 30px;
}

.main select:hover, .main select:focus {
    color: #51bfeb;
}

.main option{
    font-weight: bold;
    word-spacing: 2px;
    color: black;
    font-size: 12px;
    font-family: "ProximaNova-Regular", Helvetica, sans-serif;
}

.main input:not(input[type=submit]){
    width: 100%;
    height: 8%;
    /* border: 1px solid black; */
    background-color: white;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 30px;
    
}

.main textarea:focus, .main input:focus{
    outline: none;
    color: #4b515d;
    border: 2px solid #B8B6B6;
    box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.01), 0px 0px 8px rgba(0, 0, 0, 0.2);
}


.main textarea{
    width: 100%;
    padding: 10px;
    font-size: 17px;
  
}

.main p:nth-last-child(4) {
    font-size: 12px;
    font-weight: 700;
    line-height: 3em;
    letter-spacing: 1px;
    color: white;
    margin-bottom: 30px;
   
}

.main #submit {
    /* width: 100%; */
    text-align: center;
    margin: 50px 0px 50px 0px;
    
}

.main input[type=submit]{
    border: 2px solid black;
    cursor: pointer;
    font-size: 16px;
    padding: 15px 45px;
    background-color: white;
    
    
}

.main input[type=submit]:hover {
    background-color: black;
    color: white;
}


/*** SMALL SIZE MOBILE  ***/
@media  (max-width: 800px){

.main form {
    width: 80%;
    
   
}

.main input[type=submit]{
    width: 100%;
    
}




}

/***** REQUEST PAGE ENDS ****/










