
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400');
@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    /* outline: 1px solid red; */
    /*outline to check the outside page elements */
}
html {
    scroll-behavior: smooth;
   height: 100%;
   width: 100%;

  }

body {
    
 
    /* font-family: 'Lato', sans-serif; */
    font-family: 'Poppins', sans-serif;
    /* background:url(../Images/bkgokuuuu.jpg) center 10px; */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    
    /* background-attachment: fixed; */

    
}

/****************** HEADER ******************/

 

.Hcontainer{
    overflow-x: visible;
    /* position: relative; */
    z-index: 1; /* so mid content won;t overlap */
    background-color: rgb(10, 2, 17);
    display: flex;
    align-content: center;
    justify-content: space-between; /*aligning x axis horizontal */
    align-items: center; /*align y axis vertical */
    padding: 5px;
    flex-wrap: wrap;    
    /* opacity: 0.1; */
    overflow: hidden;
    position: sticky; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the topof the page */
    /* width: 100%;  */
    height: auto;
    /* transition: 3s; */
    animation: bordergui 3s bottom 1s 3 forwards forwards;
}
/* 
.Hcontainer ul {
    display: flex;
    
} */


/* image and heading div*/
.left-navbar{
    margin-left: 30px;

}

.left-navbar img{    /* LOGO IN NAVBAR */
    filter: invert(100%); /* making black logo to WHITE */
    height: 60px;               
    width: 140px;
    transition: 1s;
    
}
.left-navbar img:hover {      /*hover on navbar dumbell logo */
    transform:scale(1.5);

}

#Brand-Name{
    /* background-color: #666666;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(255,255,255,0.5) 0px 3px 3px; */
    



    font-size: 1.3em;
    letter-spacing: 2px;
    font-weight: bolder;
    text-align: center;
    font-family: 'Averia Sans Libre', cursive;
 
}
/* image and heading div ENDS*/

/* mid navbar items starts */

.hicons{

    font-size: 20px;
    margin-right: 5px;
    /* vertical-align:middle; */
    transition: 0.3s;
}


.navbar ul {
    display: flex;
    
}

.navbar ul li {   /*navbar items middle */
    /* putting items like float */
    /* display: inline-flex;   */
    list-style: none;
    margin: 0px 10px 0px 10px;
    padding: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    /* flex-basis: 100%; */
    
}


.Hcontainer a {    /*navbar items text color */
    text-decoration: none;
    color: white;
   
    /* transition: 1s; */
}

/*ACTIVE CLASS */
#home, #about, #services, #contact {  
    background-color:rgb(156, 36, 160);
    /* font-size: 1.2rem; */
    padding: 10px;
    border-top: 3px solid rgb(27, 218, 27) ;
    
    }
    
    
.navbar li:hover:not(.active){
    background-color:rgb(156, 36, 160);
    /* font-size: 1.2em; */
    /* padding: 24px; */
    border-top: 3px solid rgb(27, 218, 27) ;
    

}

/* mid navbar items starts */
.login-btn {
    margin-right: 80px;
    background-color: rgb(255, 0, 0);
    padding: 4px 23px 4px 23px;
    border: 1px solid rgb(255, 0, 0);
    border-radius: 3px;
    font-weight: bolder;
    letter-spacing: 2px;
    cursor: pointer;
    order: 1;
    
}

.login-btn:hover {
    color: black;
 
}
/*hamburger menu */
 #toggleDiv{
    order: 2; /* putting it in last of navbar tho hidden */
    display: none;
    margin-right: 25px;
    /* margin-top: 50px; */
    
}

#menu{
    cursor: pointer;
    font-size: 30px;
    border-radius: 50px;
    padding: 2px 5px 2px 5px;
    background-color: transparent;
    color: white;
     font-style: italic;
}

#menuLine {
    display: none;
}

/**** HEADER ENDS***/

/*** ADDING PROGRESS BAR AS NAVBAR BOTTOM BORDER ****/

#progressbar{
    z-index: 1;
    height: 5px;
    background: purple;
    border: solid purple;
    position: fixed;
    width: 100%;
    animation-name: bordergui;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-iteration-count:1;
    animation-direction: forwards;
    
}

@keyframes bordergui{
    /* from{
        width: 0%;
    }

    to {
        width: 100%;
    } */
    from { transform: scaleX(0); }
    to   { transform: scaleX(1); }
    
    20% {
        background: rgb(30, 255, 30);
        border: solid rgb(30, 255, 30);
    }

    40% {
       background: goldenrod;
       border: solid goldenrod;
    }
    60% {
       background: pink;
       border: solid pink;
    }
    80% {
       background: rgb(139, 130, 0);
       border: solid rgb(139, 130, 0);
    }
    100% {
       background: rgb(30, 240, 255);
       border: solid rgb(30, 240, 255);
    }
    


}


/*** PROGRESS BAR ENDS****/




/**** MAIN CONTENT JUMBOTRON ****/

/*BACKGROUND IMAGE */
.container::before{
    content: "";
    background:url(../Images/blackbg.jpg) no-repeat center center/cover;
    /* background: transparent; */
    position: absolute;
    /* top: 70px; */
    height: 100%;
    width: 100%;
    z-index: -99;
    /* opacity: 0.8; */
    /* right: 300px; */
    
/* -webkit-filter: blur(1px) brightness(0.5);
  -moz-filter: blur(1px) brightness(0.5);
  -ms-filter: blur(1px) brightness(0.5);
  -o-filter: blur(1px) brightness(0.5); */
  filter: blur(1px) brightness(0.3);

}


.container {
    /* margin-top: 150px; */
  
    /* border: 1px solid red; */
    height: 100%;
    width: 100%;
    position: relative;
    /*position relative for bg  image absolute*/
    font-size: 1vw;
    /* flex-direction: column; */
}


/*** 1st section of Main content ****/



#main-content  p:first-child{
    font-family: Poppins, sans-serif;
    font-weight: bold;
    padding-top: 14.7vw;
    margin: 0px 20% 7.4% 20%;
    text-align:center;
    color: rgb(255, 255, 255);
    font-size: 3em;
    white-space: pre-line;
}


#main-content p:nth-child(2){
    font-family: Poppins, sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 1.3em;
    margin-left: 18.55%;
    
    border-left: 4px solid rgb(212, 64, 18);
    border-spacing: 10px; padding-left: 11px;   
    /* animation: line 2s ease-in-out 1s 1 forwards;  */
    white-space: nowrap;
    overflow: hidden;
    animation:appear 3s ease ;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    
}       

@keyframes appear {
    from {
         transform: scaleX(2);
         opacity: 0; 
        }
        
    to   { 
        transform: scaleX(1); 
    }
}


#main-content p:nth-child(3){
    margin-top: 5px;
    color: rgb(212, 64, 18);
    font-size: 2.2em;
    font-weight: bolder;
    margin-left: 19.6%;
    font-family: 'Graduate', cursive;
    
}
/* start now anchor */
#start{  
   display: block;
    text-decoration: none;  
    color: white;
    font-size: 1.2em;
    font-family: Poppins, sans-serif;
    font-weight: bold;
    width: max-content;
    text-align: center;
    align-items: center;
    margin-right: auto;
    margin-left:auto;
    margin-top: 2%;
    padding: 1.1% 2.8%;
    border: 2px solid rgb(255, 0, 0);
    border-radius: 50px;
    animation: goup 3s ease ;
    transition: 1s;
    transition-timing-function: ease-in-out;
    
    
}

@keyframes goup {
   


    from {
        opacity: 0;
        margin-top: 400px;
    }
}

#start:hover{
    box-shadow: inset 300px 0 0 0 rgb(0, 0, 0);
    border-color: rgb(255, 255, 255);
    transform: translateY(-10px);
    
    
   
}

/****1st section of MID CONTENT ends***/








/***** MAIN CONTENT ENDS ****/



/**FOOTER TOP AREA STARTS**/

.Fcontainer {
        background-color: black;
        color: white;
         /* leaving space between for picture */
        /* margin-top: 768px;      */
        border-top: 5px solid purple;
        z-index: 100;
        
        
        
}

#footer-top-area {
    padding: 30px;
        display: flex;
        justify-content: space-around; 
         /* flex works on direct child so not putting it in container */
        flex-wrap: wrap;
        align-content: center;
        /* align-items:baseline; */
        /* text-align: center; */
}
/* 
#footer-top-area section  {
    flex-basis: 100%; can be used to make a section alone in row for mobile window
    
} */

#footer-top-area section h3 {
    padding-bottom: 15px;
}

#footer-top-area hr {
 
    margin-bottom: 25px;
    border: 1px solid rgb(5, 211, 5);   /* green line below headings */
    width: 200px;
    animation: hrlines 2s ease-in-out 1s 1 forwards; 
            /*name duration timing-function delay iteration-count direction fill-mode; */
            
}

@keyframes hrlines {
    from {
       width: 0%
    }

    to {
     width: width 100%;
    }
}

#footer-top-area p {
    line-height: 3em;
}

.Fcontainer a {
    text-decoration: none;
    color: white;
       /* text color in footer paragraphs */
}

section h3{
    text-shadow: 2px 2px lightseagreen;
}

#address #num {
    transition: 0.3s; /* transition for number */
}

#address #num:hover {
    font-size: 1.2em;          /* number hover  and mail*/
    background-color: purple;
}
#social p {
    transition: 0.3s;
    
}

#social p:hover {
   
    transform: translateX(20px);
}

 #social a:hover {  
    color: purple;
    font-weight: bolder;

    
} 

.ficons {  /* social media icons */
    font-size: 30px;
    margin-right: 20px;
    vertical-align:middle;
    transition: 0.3s;

} 
.ficons:hover {   /* increasing social icons size when hover */
    font-size: 3em;
    text-shadow: 0px 0px 10px silver;
}

.fa-envelope {
    color: #9500da;
}

.fa-phone{
    color: rgb(8, 221, 8);
    
    transform: scaleX(-1);
}

.fa-facebook{

    color: #0210d3;
}

.fa-instagram{ 
    color: #f09433; 

  }


.fa-twitter{
    

    color: #00acee;
}

.fa-github{
   

    color: #f1b189;
}

.fa-linkedin{
    

    color: #0072b1;
}


#quote {
    display: flex;   /* goku pic and text aligned together same row and in middle */
    align-items: center;
}

#quote img {
    height: 190px;
    width: 140px;  /* GOKU pic */
    transition: .5s;
    
}

#quote img:hover {
    transform: translateX(10px) rotate(10deg) translateY(5px) scale3d(2,2,2);
    
}

#quote p {
    /* margin-top: 60px;       */    /*using flex instead in div
    /* float: left; */   
    color: rgb(255, 251, 0);
    font-family: 'Graduate', cursive;
    font-size: 1.2em;

}



/**FOOTER TOP AREA ENDS**/


/**FOOTER BOTTOM AREA STARTS**/

#footer-bottom-area {

    background-color: #121212;
    padding: 22px 0px 22px 0px;
    margin-top: 10px;
    display: flex;   
    justify-content: center;
    flex-wrap: wrap;
}

#cp {
    text-align: center;
    color: white;
    font-size: 1.1em;
    font-family: 'Averia Sans Libre';
}

#cp a{
    color: rgb(240, 142, 15);
}


#cp a:hover {
    color: rgb(150, 226, 8);
}

.fa-arrow-circle-up {
    position:fixed ;
    bottom: 15px;
    right: 15px;
    font-size: 1.6em;  
    transition: 1s;
    color: rgb(255, 0, 0);
    padding: 3px 5px 3px 5px;
    animation: ScrbtnUp 0.5s ease-in-out 0s 1;
    
       
}

@keyframes ScrbtnUp{
    from {
        bottom: -20px;
    }

    to {
        bottom: 15px;
    }
}

.fa-arrow-circle-up:hover {
    background-color: #555;
    transform:translateY(-20px);
}



/**** MEDIA QUERIES ****/

/*** MEDIUM SIZE ***/
@media (min-width:891px) and (max-width: 980px){


  .left-navbar img{
      display: none;
  }


   #Brand-Name {
       font-size: 1.1em;
       
   }

 

   .login-btn{
      margin-right: 20px;
       padding: 4px 18px 4px 18px;
            
   }
}




/*** TABLET VIEW ****/
@media (min-width: 801px)  and (max-width: 890px){

  .hide{
       display: none;
      }  

       .hicons {
          font-size: 30px
      }

      #Brand-Name {
        display: none;
    }
    
    .left-navbar img{
        height: 80px;
        width: 100px;
    }
    
    .login-btn{
        margin-right: 20px;
         padding: 4px 18px 4px 18px;

              
     }


     #footer-top-area {
        /* flex: 1; */
        flex-direction: column;
        align-items: center;
         text-align: center;
     }
    
     #social, #address {
         margin-top: 50px;
     }

     #footer-top-area hr {
         width: 100%;
     
     }
     
     #footer-top-area br{
         display: none;
     }
     
     
     
     
     #quote img {
         height: 120px;
         width: 100px;
     }
     
     .navbar {
        display: block ;
    }

    
}





/*** SMALL SIZE MOBILE  ***/
@media  (max-width: 800px){
      

.Hcontainer{
    display: block;
    
}

.login-btn{
   float: right;
   margin-top: 8px;
   margin-right: 10px;
   padding: 2px 15px 2px 15px;
   border-radius: 50px;
   /* display: block;
   width: fit-content;
   margin: 5px auto; */
    
}

.left-navbar img{
    display: none;
}

#Brand-Name{
    /* text-align: center; */
    /* padding-top: 12px; */
    /* float: right; */
    text-align: left;
    font-size: 1.5em;
    
      text-shadow: 0 2px 1px #747474, 
          -1px 3px 1px #767676, 
          -2px 5px 1px #787878, 
          -3px 7px 1px #7a7a7a,
          -4px 9px 1px #7f7f7f,
          -5px 11px 1px #838383,
          -6px 13px 1px #878787,
          -7px 15px 1px #8a8a8a, 
          -8px 17px 1px #8e8e8e,
          -9px 19px 1px #949494,
          -10px 21px 1px #989898,
          -11px 23px 1px #9f9f9f,
          -12px 25px 1px #a2a2a2, 
          -13px 27px 1px #a7a7a7,
          -14px 29px 1px #adadad,
          -15px 31px 1px #b3b3b3,
          -16px 33px 1px #b6b6b6,
          -17px 35px 1px #bcbcbc, 
          -18px 37px 1px #c2c2c2,
          -19px 39px 1px #c8c8c8,
          -20px 41px 1px #cbcbcb,
          -21px 43px 1px #d2d2d2,
          -22px 45px 1px #d5d5d5, 
          -23px 47px 1px #e2e2e2,
          -24px 49px 1px #e6e6e6,
          -25px 51px 1px #eaeaea,
          -26px 53px 1px #efefef;
    
}
.left-navbar{
    float: left;
}

.navbar {
    display: none;
    animation: collapse 0s ease-in-out 3s forwards 1;
    height: 100%;
    transition: height 2s ease;
}


.navbar ul{
    animation: collapse 0s ease-in-out 3s forwards 1;
    height: 100%;
}

@keyframes collapse {
    from {
        height: 0%
    }

    to {
        height: 100%
    }
}


.navbar ul  {
    
    flex-direction: column;
        text-align: center;
         padding-top: 10px;
        clear: both;  
        align-items: center; 
        
        
}


.navbar ul li{
    font-size: 0.8em;
   padding-bottom: 10px;
    width: 90%;
    
    
}


#main-content  p:first-child{
    font-size: 5em ;
    margin: 0px 10% 15% 10%;
    padding-top: 29.7vw;
}

#main-content p:nth-child(2){
    font-size: 3em;
    margin-left: 9.55%;
}

#main-content p:nth-child(3){
    font-size: 4.5em;
    margin-left: 12.6%;
}

#start{  
    font-size: 2.2em;
    margin-top: 10%;
    padding: 2.5% 6%;
}


#footer-top-area {
   /* flex: 1; */
   flex-direction: column;
   align-items: center;
    text-align: center;
}

#footer-top-area hr {
    width: 100%;

}

#footer-top-area br{
    display: none;
}
section h3{
    text-shadow: lightseagreen;
}
#quote p {
    font-size: 0.9em;
}
#quote img {
    height: 120px;
    width: 100px;
}

#social, #address{
    margin-top: 50px;
}

#toggleDiv {
    text-align: right;
    clear: both;
    display: block;
}
#menu {
    display: inline-block;
    /* clear: both; */
    /* text-align: end; */
    margin-top: 10px;
    
   
}

#menuLine {
    display: block;
    margin-top: 10px;
    border: 2px solid rgb(5, 211, 5);
    width: 100%;
    animation: menuline 1s ease-in-out 1 forwards; 
    /* name duration timing-function delay iteration-count direction fill-mode; */
 
}

@keyframes menuline {
from {
    transform: scaleX(0);
}

to {
    transform: scaleX(1);
}
}


}









/* *********************ABOUT PAGE******************* */

/* IMAGE AND STUFF SECTION */

.about .image {
    position: relative;
    width: 100%;
    height: 100%;
 
   
    
}


.about .image::before {
    content: "";
    background: url(../Images/gokuteam.jpg) no-repeat center center/cover;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    filter: blur(0px) brightness(0.4);
    
}


.about .image p{
    text-align: center;
    font-size: 2.5rem;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    padding-top: 150px;
    font-style: italic;
    font-family: 'Lemon', cursive;

}
#image-box {
    text-align: center;
    margin-top: 178px;
    
}

#image-box a {  
 font-size: 20px;
 color: white;
 text-decoration: none;
 font-weight: bolder;
 padding: 15px 35px 15px 35px;
 border-radius: 50px;
 background-color: rgb(60 0 243);
}

#image-box a:hover{
    color: black;
}

/* IMAGE AND STUFF SECTION  ENDS*/


/* History section BEGINS */
.about section:first-of-type {  /*history section */
    
    display: flex;
    justify-content: space-around;
    padding: 100px 70px 100px 70px;   
    
}

#history div{
    flex-basis: 40%;   /*space between both paragraphs */
    
}

#history div h1{
    font-size: 2rem;
    margin-bottom: 20px;
    font-weight: bolder;
    color: #000;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 30px;
}

#history div p{
    font-weight: normal;
    font-size: 15px;
    line-height: 1.6;
    color: #000000;
    font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
}
/* History section ENDS */

/* TEAM SECTION */

#team {
    background: 			rgb(16,16,16);
    padding-bottom: 100px;
    display: flex;
    justify-content: space-around;
    align-content: space-between;
    flex-wrap: wrap;
    
}

 #team h1 {
    color: white;
    text-align: center;
    padding-top: 40px;
    width: 100%;
    padding-bottom: 10px;
  
 }



 #team .card{
    
     flex-basis: 23%;
     background-color: white;
     height: 400px;
     width: 300px;
     margin-left: 5%;
     margin-right: 5%;   
     background-color: gray;
     margin-top: 40px; 
     transition: 500ms;
     
    
 }

 
 .card:hover{
    box-shadow: 0 0px 0px 10px #000000;
  
 }


 .card img {
    /* height: 300px; */
    height: 80%;
    width: 100%;
    cursor: pointer;
    transition: 500ms;
     
 }

 .card img:hover{
    opacity: 0.7;
    filter: brightness(0.5);
    /* box-shadow: 10px 10px 8px 10px #888888; */
    
 }

 .card h2{
     text-align: center;
        font-size: 1.5em;
        font-family:Arial, Helvetica, sans-serif;
    }

 .card p{
    text-align: center;
     /* margin-top: 10px; */
    font-size: 1.1em;
    font-weight: 700;
    color: blue;

 }
/* TEAM SECTION ENDS/*

/* Video section */

#video {
    background-color: #675e5e;
    padding: 70px 0px 70px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#video div{
    flex-basis: 35%;
}

#video #text {
    align-self:baseline;
    margin-top: 70px;
}

#video h1:first-child{
    font-size: 3em;
    margin-bottom: 30px;
    
}

#video h1 {
    font-family: itc-avant-garde-gothic-pro;
    font-size: 2em;
    font-weight: bolder;
    word-wrap: break-word;
    
   
}

#down-arrow{
    display: none;
}

#video p{
    width: 70%;
    color: white;
    font-family: "ff-meta-web-pro",sans-serif ;
    line-height: 1.4em;
    font-weight: 500;
    word-spacing: 2px;
    
}

#video #detail{
    /* width: 60%; */
    display: inline-flex;
    justify-content: space-between;
}

#video #detail a {
    text-decoration: none;
    background-color: rgb(0, 202, 135);
    padding: 10px 25px 10px 25px;
    border-radius: 4px;
    align-self: center;
    color: white;
    font-weight: bolder;
    font-family: "ff-meta-web-pro",sans-serif ;
    
}

#video #detail a:hover{
    filter: brightness(0.7);
    color: black;

}
 
#video video:hover {
    /* filter: brightness(0.8); */
    box-shadow: 0 1px 5px 1px #cccccc;
}

/* Video section Ends*/


















/*** MEDIUM SIZE ***/
@media (min-width:891px) and (max-width: 980px){



}






/*** TABLET VIEW ****/
@media (min-width: 801px)  and (max-width: 890px) {



    
}






/*** SMALL SIZE MOBILE  ***/
@media  (max-width: 800px){

    .about section:first-of-type {
    
        flex-direction: column;
        justify-content: space-around;
       
        
    }

    #history div:first-of-type{
        margin-bottom: 70px;
        
    }
    

    #team {
       
        /* padding-bottom: 100px; */
       flex-direction: column;
        align-items: center;
        
        
    }

    #video {
        flex-direction: column;
        padding: 0px 0px 70px 0px;
        align-content: center;
        
        
       
    }

    #vid-sec, #video #text{
        margin-top: 80px;
        width: 90%;
    }

    #video #detail{
       
        display: block;
        text-align: center;
        /* padding: 0px 30px 0px 30px; */
        
    }

    #video p{
        width: 100%;
        margin-bottom: 20px;
    }

    #video h1 {
        text-align: center;
        font-size: 1.3em;
    }

    #right-arrow {
        display: none;
    }

    #down-arrow{
        display: block;
        margin-top: 20px;
        font-size: 2em;
    }
}